@charset "UTF8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(178, 218, 178);
}


header{
    background-image: linear-gradient(to bottom, rgb(34, 104, 34), rgb(18,54,18));
    padding: 30px;
    text-align: center;
}

header > h1 {
    font-size: 3em;
    color: white;
}

nav{
    background-color: rgb(12, 36, 12);
    padding: 15px;
}

nav > a{
    font-size: 12px;
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(34, 104, 34);
}

nav > a:hover{
    background-color: rgb(54, 158, 54);
}

main{
    background-color: rgb(125, 197, 125);
    height: 350px;
    max-width: 800px;
    background-image: url(fotos-lu/capa.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
}

main > h2{
    padding: 10px;
    text-align: center;
}

footer{
    background-color: rgb(12, 36, 12);
    text-align: center;
    color: white;
}