@charset "UTF8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(178, 218, 178);
}


header{
    background-image: linear-gradient(to bottom, rgb(34, 104, 34), rgb(18,54,18));
    padding: 30px;
    text-align: center;
}

header > a.secundarios{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

header > h1 {
    font-size: 2.5em;
    color: white;
}

nav{
    background-color: rgb(12, 36, 12);
    padding: 15px;
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(34, 104, 34);
}

nav > a:hover{
    background-color: rgb(54, 158, 54);
}

main.index{
    background-color: rgb(125, 197, 125);
    min-height: 350px;
    max-width: 1200px;
    background-image: url(fotos-lu/capa.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
}

main > h2{
    padding: 10px;
    text-align: center;
}

main{
    background-color: rgb(125, 197, 125);
    max-width: 800px;
    margin: auto;
}

main > img{
    width: 90%;
    padding: 20px;
    margin: auto;
}

div#Fut{
    background-image: url(fotos-lu/Jogo\ de\ Futebol.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

div#Diaria{
    background-image: url(fotos-lu/Diaria.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

div#Jantar{
    background-image: url(fotos-lu/Jantar.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

div#Pernoite{
    background-image: url(fotos-lu/Pouso\ para\ Romaria.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


div.servicos >p{
    display: none;
    text-align: center;
    font-size: 2.5em;
    color: black;
    padding: 5px;
    margin: 10px;
}

div.servicos{
    width: 350px;
    height: 350px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0px auto 10px auto;

}


div.servicos:hover >p{
    display: block;
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    border-radius: 10px;
}


footer{
    background-color: rgb(12, 36, 12);
    text-align: center;
    color: white;
}

section.contato{
    padding: 20px;
}

ul{
    margin-top: 20px;
    margin-bottom: 20px;
}

li{
    list-style-type: none;
    text-align: center;
}

h2.contato{
    text-align: center;
    padding-bottom: 10px;
}

p.contato{
    text-align: center;
}

div.contato{
    margin: 0px -20px 20px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.contato > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}